@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;

}

body {
    font-family: "IBM Plex Mono", monospace;
    height: 100%;
    background-color: rgb(32, 32, 32);
}



.title {
    color: rgb(255, 166, 0);
    font-weight: normal;
    font-size: 3rem;
    text-shadow: 0 0 20px rgb(245, 3, 3);
    align-self: flex-end;
    margin-bottom: 1rem;
}

.connection {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin-right: 1rem;
    
}

.userConnection {
    color: rgb(255, 166, 0);
    padding-right: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
}

.userConnection:hover {
    transition: color 300ms;
    color: rgb(255, 255, 255);
}

.container {
    background: url("./Cruser.jpg");
    background-position: top 30% right 0%;
    background-size: cover;
}

.container2 {
    background: url("./Font-Space.png");
    background-size: cover;
    height: 100%;
}

.background {
    background: linear-gradient(.25turn, rgba(73, 73, 73, 0.438), 50%, rgba(29, 29, 29, 0.685));
}

.topPictures {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.primaryNavigation{
    color: rgb(255, 166, 0);
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    font-weight: bold;
}

.button {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}

.advanceNavigationLibrary {
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    display: block;
    border-radius: 0px;
    width: 50%;
    display: none;
}

.secondaryNavigationLibrary{
    
    color: rgb(255, 166, 0);
    background-color: black;
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    font-weight: bold; 
}

.button1{
    flex-direction: column;
    width: 100%;

    &:hover>.advanceNavigationLibrary {
        display: flex;
        position: absolute; 
        background-color: black;  
    }
}

.secondaryNavigationComu{
    color: rgb(255, 166, 0);
    background-color: black;
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    font-weight: bold;
}

.button2 {
    flex-direction: column;
    width: 100%;
    &:hover>.advanceNavigationComu {
        display: flex;
        position: absolute; 
        background-color: black;  
    }
}


.advanceButton{
    background-color: black;
    border-radius: 0px;
    border-color: black;
    padding: .5rem 0 .5rem 0;
}


.baseNavigation {
    background-color: rgb(0, 0, 0);
    display: block;
    padding: 0.5em 0em 0.5em 0em;
    border-radius: 0px;
    width: 100%;
}

.advanceNavigationComu {
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    display: block;
    border-radius: 0px;
    width: 50%;
    display: none;
}


.textPosition{
    display:flex;
    justify-content: center;
    margin: 5rem 20% 0 20%;
    
}

.text {
    margin-bottom: 2rem;
    color: white;
    text-align: justify;
}

.beginning{
    color : rgb(255, 166, 0);
}

.beginning:hover{

    color :rgb(255, 255, 255)
  
}

.formClass{
    background-color: rgba(255, 166, 0, 0.575);
    color : white
}

.accountClass{
    color : white;
    display: block;
}

.form__control{
    margin-bottom: 2rem;
}

.formButton{
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    font-size: small;
    padding: 0.5rem;
    background-color: rgba(255, 166, 0, 0.575);
    border: none;
    color: white;
    border-radius: 12px;   
}
