@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "IBM Plex Mono", monospace;
  height: 100%;
  background-color: #202020;
}

.test {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.title {
  color: #ffa600;
  font-weight: normal;
  font-size: 3rem;
  text-shadow: 0 0 20px #f50303;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 1rem;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  list-style-type: none;
  margin-right: 1rem;
}

.userConnection {
  color: #ffa600;
  padding-right: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
}

.userConnection:hover {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  color: white;
}

.container {
  background: url("./Cruser.jpg");
  background-position: top 30% right 0%;
  background-size: cover;
  z-index: 0;
}

.container2 {
  background: url("./Font-Space.png");
  background-size: cover;
  z-index: 0;
  margin: 0;
  height: 100%;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.topPictures {
  background: -webkit-gradient(linear, left top, right top, from(rgba(184, 184, 184, 0.3)), color-stop(50%), to(rgba(49, 49, 49, 0.5)));
  background: linear-gradient(0.25turn, rgba(184, 184, 184, 0.3), 50%, rgba(49, 49, 49, 0.5));
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.primaryNavigation {
  color: #ffa600;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  font-weight: bold;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.advanceNavigationLibrary {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  border-radius: 0px;
  width: 50%;
  display: none;
}

.secondaryNavigationLibrary {
  color: #ffa600;
  background-color: black;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  font-weight: bold;
}

.button1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.button1:hover > .advanceNavigationLibrary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: black;
}

.secondaryNavigationComu {
  color: #ffa600;
  background-color: black;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  font-weight: bold;
}

.button2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.button2:hover > .advanceNavigationComu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: black;
}

.advanceButton {
  background-color: black;
  border-radius: 0px;
  border-color: black;
  padding: .5rem 0 .5rem 0;
}

.baseNavigation {
  background-color: black;
  display: block;
  padding: 0.5em 0em 0.5em 0em;
  border-radius: 0px;
  width: 100%;
}

.advanceNavigationComu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  border-radius: 0px;
  width: 50%;
  display: none;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 20% 0 20%;
}

.introduction {
  margin-bottom: 2rem;
  color: white;
  text-align: justify;
}

.beginning {
  color: #ffa600;
}

.beginning:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */