{% extends 'main/_base.html' %}
{% load static %}
{% block extraHeader %}
<link rel="stylesheet" href="{% static 'community/style.css' %}">
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<link rel="stylesheet" href="{% static 'bibliotheca/style.css' %}">
{% endblock extraHeader %}

{% block pageTitle %}Warhammer 40.000 - Bibliotheca Mobilis{% endblock pageTitle %}

{% block title %}Universe{% endblock title %}

{% block Add %}

{% load mptt_tags %}
<ul>
    {% recursetree articles %}
    <li>
        {{ node.title }}
        {% if not node.is_leaf_node %}
        <ul class="children">
            {{ children }}
        </ul>
        {% endif %}
    </li>
    {% endrecursetree %}
</ul>

{% endblock Add %}