{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}{% endblock pageTitle %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>
    <!-- Containe the background pictures -->

    <div class="container">
        <!-- Creat a black filter between the picture and the screen to darkening the background-->
        <div class="background">
            <div class="topPictures">
                <h1 class="title">
                    {% block title %}{% endblock title %}
                </h1>
                <nav>
                    <ul class="connection">
                        {% if user.is_authenticated%}
                        <li class='userConnection'>
                            <a href={% url 'logout'%} class='userConnection'> Se déconnecter</a>
                        </li>


                        <li class='userConnection'>
                            |
                        </li>

                        <li>
                            <a href class='userConnection'>{{user.username}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'accountCreation' %}" class="userConnection">Créer un compte</a>
                        </li>
                        <li class="userConnection"> | </li>
                        <li>
                            <a href="{% url 'connection'%}" class="userConnection">Se Connecter</a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="container2">
        <div class="space">
            <nav class="button">
                <div class="button1">

                    <button class="baseNavigation">
                        <a href="library" class="primaryNavigation">Bibliothèque</a>
                    </button>
                    <div class="advanceNavigationLibrary">
                        <button class="advanceButton">
                            <a href="history" class="secondaryNavigationLibrary">Histoire</a>
                        </button>

                        <button class="advanceButton">
                            <a href="armies" class="secondaryNavigationLibrary">Armées</a>
                        </button>

                        <button class="advanceButton">
                            <a href="characters" class="secondaryNavigationLibrary">Personnages</a>
                        </button>

                    </div>
                </div>

                <div class="button2">
                    <button class="baseNavigation">
                        <a href="creation" class="primaryNavigation">Ajout de la communauté</a>
                    </button>

                    <div class="advanceNavigationComu">
                        <button class="advanceButton">
                            <a href="creation" class="secondaryNavigationComu">Ajouter des savoirs</a>
                        </button>

                        <button class="advanceButton">
                            <a href="armiesCreated" class="secondaryNavigationComu">Armées de la communauté</a>
                        </button>

                        <button class="advanceButton">
                            <a href="charactersCreated" class="secondaryNavigationComu">Personnages de la
                                communauté</a>

                        </button>

                    </div>
                </div>
            </nav>

            <div class='textPosition'>
                {% block Add %}{% endblock Add %}
            </div>

        </div>
    </div>

    </div>
</body>

</html>