{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}{% endblock pageTitle %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    {% block extraHeader %}{% endblock extraHeader %}
</head>

<body>
    <!-- Containe the background pictures -->

    <div class="containerHeader">
        <!-- Creat a black filter between the picture and the screen to darkening the background-->
        <div class="background">
            <div class="topPictures">
                <h1 class="title">
                    {% block title %}{% endblock title %}
                </h1>
                <nav>
                    <ul class="connection">
                        <li class='userConnection'>
                            {% if user.is_authenticated%}
                            <a href={% url 'logout'%} class='userConnection'> Se déconnecter</a>
                        </li>


                        <li class='userConnection'>
                            |
                        </li>

                        <li>
                            <a href class='userConnection'>{{user.username}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'accountCreation' %}" class="userConnection">Créer un compte</a>
                        </li>
                        <li class="userConnection"> | </li>
                        <li>
                            <a href="{% url 'connection'%}" class="userConnection">Se Connecter</a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="containerButton">
        <nav class="button">
            <div class="button1">
                <button class="baseNavigation">
                    <div class="primaryNavigation">Bibliothèque</div>
                </button>
                <div class="advanceNavigationLibrary">
                    <button class="advanceButton">
                        <a href="history" class="secondaryNavigationLibrary">Histoire</a>
                    </button>

                    <button class="advanceButton">
                        <a href="armies" class="secondaryNavigationLibrary">Armées</a>
                    </button>

                    <button class="advanceButton">
                        <a href="characters" class="secondaryNavigationLibrary">Personnages</a>
                    </button>

                </div>
            </div>

            <div class="button2">
                <button class="baseNavigation">
                    <div class="primaryNavigation">Ajout de la communauté</div>
                </button>

                <div class="advanceNavigationComu">
                    <button class="advanceButton">
                        <a href="{% url 'characterCreation' %}" class="secondaryNavigationComu">Ajouter un
                            personnages</a>
                    </button>

                    <button class="advanceButton">
                        <a href="{% url 'armyCreation' %}" class="secondaryNavigationComu">Ajouter une armée</a>
                    </button>

                    <button class="advanceButton">
                        <a href="{% url 'armiesList' %}" class="secondaryNavigationComu">Armées de la communauté</a>
                    </button>

                    <button class="advanceButton">
                        <a href="{% url 'charactersList'%}" class="secondaryNavigationComu">Personnages de la
                            communauté</a>
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <div class='containerContent'>
        {% block Add %}{% endblock Add %}
    </div>
</body>

</html>