{% extends 'main/_base.html' %}

{% block pageTitle %}Warhammer 40.000 - Bibliotheca Mobilis{% endblock pageTitle %}

{% block title %}Acceuil{% endblock title %}

{% block Text %}
<div class='Text'>
    <p class='introduction'>
        Salutation voyageur, ici le croiseur Bibliotheca Mobilis. Je suis le capitaine de cet ancien bâtiment.
        Nous parcourons l'espace à la recherche de connaissances sur nôtre univers afin de les répertoriées.
        Nos archives regorgent de savoir depuis longtemps perdu ou bien soigneusement dissimulé.
    </p>
    <p class='introduction'>
        La guerre est partout et nous nous efforçont de l'évité pour préserver nôtre savoir.
        Ici tous sont admis, quelques soient son origines, ses aspirations, son culte.
        Nul violences, verbales physiques ou psychique ne sera toléré et sera sanctionné d'une expulsion
        immédiate de mon bord.
    </p>
    <p class='introduction'>
        Si vous le souhaitez, vous pouvez consulter nos archives et cherchez les savoirs qui vous intéressent.
        Sinon vous pouvez tout aussi bien apporter des connaissances qui nous sont inconnus.
        Si vous êtes perdu et que vous chercher à comprendre l'univers de Warhammer 40.000 je vous recommande
        de consulter la genèse de l'<a href="Imperium" class="Beginning">Impérium</a>.

    </p>
</div>
{% endblock Text %}