{% extends 'main/_base.html' %}
{% load static %}
{% block extraHeader %}
<link rel="stylesheet" href="{% static 'community/style.css' %}">
{% endblock extraHeader %}


{% block pageTitle %}Warhammer 40.000 - Bibliotheca Mobilis{% endblock pageTitle %}

{% block title %}{{army.name}}{% endblock title %}

{% block Add %}


<div class='tableFields'>
    <div class='row'>
        <div class='column rowTitle'>Nom</div>
        <div class='column data'>{{army.name}}</div>
    </div>
    <div class='row dark'>
        <div class='column rowTitle'>Camp</div>
        <div class='column data'>{{army.side}}</div>
    </div>
    <div class='row'>
        <div class='column rowTitle'>Race</div>
        <div class='column data'>{{army.race}}</div>
    </div>

    {% if army.side|to_str == "Chaos" %}
    <div class='row dark'>
        <div class='column rowTitle'>Chaos</div>
        <div class='column data'>{{army.chaosAspect}}</div>
    </div>
    {% endif %}

    <div class='row'>
        <div class='column rowTitle'>Chef</div>
        <div class='column data'>{{army.actualChef}}</div>
    </div>

    <div class='row dark'>
        <div class='column rowTitle'>Camp</div>
        <div class='column data'>{{army.firstChef}}</div>
    </div>

    <div class='row'>
        <div class='column rowTitle'>
            {% if army.race != spaceMarine %}
            Chef actuel
            {% else %}
            Maître du chapitre
            {% endif %}
        </div>
        <div class='column data'>{{army.actualChef}}</div>
    </div>

    <div class='row dark'>
        <div class='column rowTitle'>
            {% if army.race != spaceMarine %}
            Premier chef
            {% else %}
            Premier maître de chapitre
            {% endif %}
        </div>
        <div class='column data'>{{army.firstChef}}</div>
    </div>

    <div class='row'>
        <div class='column rowTitle'>Auteur</div>
        <div class='column data'>{{army.author}}</div>
    </div>

</div>

<div class='containerColumn'>
    <div class='pictures'>
        <img class='pictures' src="{{picture_url}}" alt="Image du personnage">
    </div>

    <div class='text'>
        {{army.history}}
    </div>
</div>





{% endblock Add %}