{% extends 'main/_base.html' %}
{% load static %}
{% block extraHeader %}
<link rel="stylesheet" href="{% static 'community/style.css' %}">
{% load custom_tags %}
{% endblock extraHeader %}


{% block pageTitle %}Warhammer 40.000 - Bibliotheca Mobilis{% endblock pageTitle %}

{% block title %}{{army.name}}{% endblock title %}

{% block Add %}


<div class='tableFields'>
    <div class='row'>
        <div class='column rowTitle'>Nom</div>
        <div class='column data'>{{army.name}}</div>
    </div>
    <div class='row'>
        <div class='column rowTitle'>Camp</div>
        <div class='column data'>{{army.side}}</div>
    </div>
    <div class='row'>
        <div class='column rowTitle'>Race</div>
        <div class='column data'>{{army.race}}</div>
    </div>

    {% if army.side|to_str == "Chaos" %}
    <div class='row'>
        <div class='column rowTitle'>Chaos</div>
        <div class='column data'>{{army.chaosAspect}}</div>
    </div>
    {% endif %}

    <div class='row'>
        <div class='column rowTitle'>
            {% if army.race|to_str != 'spaceMarine' %}
            Chef actuel
            {% else %}
            Maître du chapitre
            {% endif %}
        </div>
        <div class='column data'>{{army.actualChef}}</div>
    </div>

    {% if army.firstChef %}
    <div class='row'>
        <div class='column rowTitle'>
            {% if army.race != spaceMarine %}
            Premier chef
            {% else %}
            Premier maître de chapitre
            {% endif %}
        </div>
        <div class='column data'>{{army.firstChef}}</div>
    </div>
    {% endif %}

    <div class='row'>
        <div class='column rowTitle'>Auteur</div>
        <div class='column data'>{{army.author}}</div>
    </div>

</div>


<div class='containerColumn'>
    <div class='leftColumn'></div>


    <div class='centerColumn text'>
        {{army.history}}
    </div>

    <div class="rightColumn">
        {% if army.pictures %}
        <img class='pictures' src="{{army.pictures.url}}" alt="Image du personnage">
        {% endif %}
    </div>
</div>




{% endblock Add %}