{% extends 'main/_base.html' %}

{% block pageTitle %}Warhammer 40.000 - Bibliotheca Mobilis{% endblock pageTitle %}

{% block title %}Personnages de la communauté{% endblock title %}

{% block Add %}

<div class="listPresentation">


    <div>
        <h1 class="listTitle">Imperium</h1>
    </div>

    {%for character in imperiumList%}
    <div>
        <a class="text elementList" href="{% url 'characterView' character.name %}">
            {{character.name}} {{character.race}} {{character.type}}
        </a>
    </div>
    {%endfor%}

    <h1 class="listTitle">Chaos</h1>

    {%for character in chaosList%}
    <div>
        <a class="text elementList" href="{% url 'characterView' character.name %}">
            {{character.name}} {{character.race}} {{character.type}}
        </a>
    </div>
    {%endfor%}


    <h1 class="listTitle">Xenos</h1>

    {%for character in xenoList%}
    <div>
        <a class="text elementList" href="{% url 'characterView' character.name %}">
            {{character.name}} {{character.race}} {{character.type}}
        </a>

    </div>
</div>
{% endfor %}
{% endblock Add %}