{% load static %}
<div class='itemArticle text'>
    <p>
        Il est l’incarnation de la rage et de la fureur aveugle. Il est alimenté par ces mêmes sentiments éprouvés
        par les mortels. Il est le plus puissant des quatre dieux et le plus violent.
        Dans son domaine, dans le warp, il est représenté comme un immense guerrier fulminant de rage, siégeant sur
        un trône d’airain posé sur une montagne de crânes. Sa couleur représentative est le rouge sang et son arme
        emblématique est la hache. Il ne respecte que la force pure et l’honneur martial.
    </p>
</div>

<div class="itemPictures"></div>