{% load static %}
<div class='itemArticle text'>
    <p>
        Nôtre univers est séparé en deux dimension plus ou moins distict :<br>
        - la dimension réelle : telle qu’on la connaît avec ses lois physiques (gravité, temps etc) <br>
        - Le warp, immaterium, mer des âmes et pleins d’autres noms : cette dimension est celle du Chaos, de ses
        dieux et de ses démons. Elle est alimentée par les émotions des mortels et ne répond à aucune loi physique
        telle que le temps ou la gravité.<br>
        Quand les émotions d’un même type sont trop présentes, elles finissent par se rassembler et créer des
        entités : les Dieux du Chaos ou bien renforcer celles affiliées à ces émotions.
    </p>
</div>

<div class="itemPictures">
    <img class='pictures' src="{%static 'nurgle.jpg'%}" alt="Image du personnage">
</div>