{% load static %}
<div class='itemArticle text'>
    <p>
        Il est le plus jeune des quatre dieux. Il fut créé par le déclin de la race Aeldari (des elfes XD). Leurs
        débauches et leurs recherches toujours plus intenses de plaisir, cristallisèrent dans le warp leurs
        sentiments donnant naissance à ce dieu. Sa naissance « rasa » le cœur de l’empire de la race Aeldari, race
        suprême de l’univers à ce moment, en dévorant toutes les âmes de ses habitants. La déchirure entre le monde
        matériel et le warp, générée par l’éveil de Slannesh, existe encore plusieurs millénaires après sa création,
        et se nomme l’Œil de la Terreur (lieu où warp et réel s’entremêlent). Ce dieu est celui des plaisirs et des
        excès. Ses fidèles sont nombreux : l’être cherchant l’inspiration pour une œuvre, le médecin voulant
        toujours être le meilleur, le guerrier voulant avoir la meilleure technique etc.
        De ce fait, toute recherche de plaisir tend à rapprocher son âme des griffes de Slannesh. Sa couleur
        emblématique est le violet.

    </p>
</div>

<div class="itemPictures">
    <img class='pictures' src="{%static 'slannesh.jpg'%}" alt="Image du personnage">
</div>