{% load static %}
<div class='itemArticle text'>
    <h1>Les dimensions</h1>
    <p>
        Tzeentch est le dieu du changement et de la magie. S’il n’est pas le plus puissant des quatre, il reste l’un
        des
        plus dangereux dieu du Chaos pour sa capacité à nouer des intrigues d’une complexité inconcevable (sauf pour
        lui), faisant des plans pouvant s’étirer sur des siècles voire des millénaires. Ses fidèles sont souvent de
        puissants psykers (des mages ou des sorciers) ou des intrigants cherchant à changer leurs situations
        (escalade de l’échelle sociale, poursuite de la connaissance etc). Il est nourri par l’espoir et la volonté
        de changement des mortels. Étant l’incarnation même du changement, il n’y a pas une représentation de
        Tzeentch mais des représentations. La plus connue est un être possédant un visage principal entouré d’une
        multitude d’autres répétant chacune de ses phrases avec un subtil changement de ton ou d’intonation. Sa
        couleur emblématique est le bleu.
    </p>
</div>

<div class="itemPictures">
    <img class='pictures' src="{% static 'tzeentch.jpg'%}" alt="Image du personnage">
</div>