{% extends 'main/_base.html' %}

{% block pageTitle %}Warhammer 40.000 - Bibliotheca Mobilis{% endblock pageTitle %}

{% block title %}Nouveau Personnage{% endblock title %}

{% block Add %}

{% if user.is_authenticated%}

<form action="" method='post' class='formular'>
    {% csrf_token %}

    {% comment %} {{form.as_p}} {% endcomment %}

    {%for field in form%}
    {% comment %} field.name = nom label (pseudo,email etc) {% endcomment %}
    <div class="error">{{field.errors}}</div>
    <div class="form__control">
        <label for="{{field.name}}" class="accountClass">{{field.label}}</label>
        {{field}}
    </div>

    {% endfor %}

    <button type="submit">Envoyer</button>
    {{ form.errors }}
    {{ form.non_field_errors }}
</form>

{% else %}
<p class='text'> Seule les perssonnes connéctées peuvent ajouter des connaissances.</p>

{% endif %}

{% endblock Add %}