{% extends 'main/_base.html' %}
{% load static %}
{% block extraHeader %}
<link rel="stylesheet" href="{% static 'community/style.css' %}">
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
{% endblock extraHeader %}

{% block title %}Inscription{% endblock title %}

{% block Add %}
<form action="" method='post' class='formular'>
    {% csrf_token %}

    {% comment %} {{form.as_p}} {% endcomment %}

    {%for field in form%}
    {% comment %} field.name = nom label (pseudo,email etc) {% endcomment %}
    <div class="error">{{field.errors}}</div>
    <div class="form__control">
        <label for="{{field.name}}" class="accountClass">{{field.label}}</label>
        {{field}}
    </div>

    {% endfor %}

    <div>
        <button class='formButton' type="submit">Envoyer</button>
        <a class='formButton' href={% url 'index'%}> Retour</a>
    </div>
</form>
{% endblock Add %}