{% extends 'main/_base.html' %}

{% block title %}Connexion{% endblock title %}

{% block Add %}
<form action="" method='post' class='formular'>
    {% csrf_token %}

    {% comment %} {{form.as_p}} {% endcomment %}

    {%for field in form%}
    {% comment %} field.name = nom label (pseudo,email etc) {% endcomment %}
    <div class="error">{{field.errors}}</div>
    <div class="form__control">
        <label for="{{field.name}}" class="accountClass">{{field.label}}</label>
        {{field}}
    </div>

    {% endfor %}

    <button type="submit">Envoyer</button>
    {{ form.errors }}
    {{ form.non_field_errors }}
</form>
{% endblock Add %}