.characterListContent{
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 10rem;
    width : 100%
}

.listTitle{
    color : rgba(255, 166, 0, 0.9);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.elementList{
    text-decoration: none;
    color: rgba(255, 166, 0, 0.9);
    font-size: large;
    font-weight: bold;

    &:hover{
        color : white
    }

}


.tableFields{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.row:nth-child(even){
    background-color: rgb(49, 49, 49);
}

.row{
 background-color: gray;
 display: flex;
 padding: 1vh;
}

.column{
    border: white;
    width: 20rem;
    
}

.rowTitle{
    font-weight: bold;
    color: rgb(255, 166, 0);
}

.data{
    color: white;
    font-weight: bold;
    text-align: center; 
}

.pictures{
    padding-top: 2rem;
    float: right;
    width: 22.5rem;
}

.containerColumn{
    display: flex;
}
.historyContentPictures{
    padding-top: 2rem;
    padding-right: auto;
    padding-left: auto;
    margin-right: 3.5rem;
    margin-left: auto;
    width: 50%;

}
.historyContent{
    padding-top: 2rem;
    padding-right: auto;
    padding-left: auto;
    margin-right: 3.5rem;
    margin-left: auto;
    width: 71%;
    height: 100vh;
}