.listPresentation{
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}

.formButton{
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    font-size: small;
    padding: 0.5rem;
    background-color: rgba(255, 166, 0, 0.575);
    border: none;
    color: white;
    border-radius: 12px;
    margin-top: 1rem; 
    margin-bottom: 2rem;
    text-align: center;
    
}

.characterListContent{
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 20rem;
    width : 100%;
}

.listTitle{
    color : rgba(255, 166, 0, 0.9);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.elementList{
    text-decoration: none;
    color: rgba(255, 166, 0, 0.9);
    font-size: large;
    font-weight: bold;

    &:hover{
        color : white
    }

}


.tableFields{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.row:nth-child(even){
    background-color: rgb(49, 49, 49);
}

.row{
 background-color: gray;
 display: flex;
 padding: 1vh;
}

.column{
    border: white;
    width: 20rem;
    
}

.rowTitle{
    font-weight: bold;
    color: rgb(255, 166, 0);
}

.data{
    color: white;
    font-weight: bold;
    text-align: center; 
}

.pictures{
    padding-top: 2rem;
    width: 21.0rem;
}

.containerColumn{
    display: flex;
}



.historyContent, .historyContentPictures{
    padding-top: 2rem;
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 100vh;
    
    &Pictures{
        margin-right: 2.5rem;
    width: 50%;
    height: auto;

}
}


#id_speciality{
    grid-column: 2;
}